@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1590%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(1%2c 63%2c 126%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c621.228C119.717%2c655.195%2c260.068%2c634.494%2c360.859%2c561.507C460.406%2c489.42%2c473.694%2c351.436%2c526.095%2c240.259C579.269%2c127.442%2c675.34%2c28.17%2c670.988%2c-96.474C666.494%2c-225.176%2c588.446%2c-339.514%2c502.503%2c-435.421C417.525%2c-530.251%2c311.887%2c-612.125%2c186.936%2c-636.645C66.684%2c-660.243%2c-50.023%2c-605.092%2c-166.393%2c-566.682C-278.897%2c-529.548%2c-416.871%2c-516.291%2c-480.493%2c-416.35C-543.877%2c-316.782%2c-486.596%2c-187.41%2c-482.938%2c-69.436C-479.976%2c26.068%2c-504.454%2c125.431%2c-461.053%2c210.556C-418.358%2c294.297%2c-319.745%2c325.795%2c-249.555%2c388.315C-162.831%2c465.563%2c-111.729%2c589.527%2c0%2c621.228' fill='%23013265'%3e%3c/path%3e%3cpath d='M1920 1857.106C2063.09 1853.016 2149.175 1700.025 2261.173 1610.875 2360.499 1531.812 2475.9790000000003 1472.725 2540.353 1363.306 2608.865 1246.855 2634.694 1112.466 2633.89 977.358 2632.996 827.0550000000001 2616.408 673.3389999999999 2535.495 546.67 2447.944 409.61 2325.021 275.525 2165.4610000000002 244.03700000000003 2008.21 213.00400000000002 1871.355 345.84799999999996 1715.908 384.928 1551.71 426.20799999999997 1324.749 341.33900000000006 1227.411 479.869 1126.938 622.8589999999999 1296.2910000000002 814.89 1291.0529999999999 989.571 1286.675 1135.567 1141.975 1274.782 1199.55 1409.018 1256.9969999999998 1542.9560000000001 1442.3029999999999 1553.775 1566.058 1630.745 1687.437 1706.237 1777.118 1861.19 1920 1857.106' fill='%23014c97'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1590'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    width:100vw;
    height:100vh;
    background-size: inherit;
    overflow-x: hidden;
}
header{
    background: rgb(58,59,180);
    background: linear-gradient(305deg, rgba(58,59,180,0.5) 0%, rgba(32,29,253,.5) 50%, rgba(69,116,252,.5) 100%);
    padding-left:5em;
}

header img{
    width:150px;
    height:150px;
    margin:10px;
}

.title{
    font-weight:bold;
    font-size:40px;
    color: #fff;
}

.disableFields{
    pointer-events: none;
}

.hide{
    display: none
}

/*Styles to scrollbar*/
::-webkit-scrollbar{
    width:5px;
}