<header>
    <div class="row">
        <div class="col-1 d-flex justify-content-center animate__animated animate__backInDown">
            <a href="http://localhost:3000"><img src="../public/images/itsa.png" alt=""></a>
        </div>
        <div class="col-10 title text-center align-self-center animate__animated animate__backInDown">INSTITUTO TECNOLOGICO SUPERIOR DE APATZINGAN</div>
    </div>
</header>