<header>
    <div class="row">
        <div class="col-1 d-flex justify-content-center">
            <img src="../public/images/itsa.png" alt="">
        </div>
        <div class="col-10 title text-center align-self-center">INSTITUTO TECNOLOGICO SUPERIOR DE APATZINGAN</div>
    </div>
</header>